# Пример переменных окружения
PORT=3001
DATABASE_URL=postgres://user:password@localhost:5432/apteka3
# или для sqlite
# SQLITE_FILE=../database/sqlite/dev.db
JWT_SECRET=change-me-to-a-strong-secret
SQLITE_FILE=../database/sqlite/dev.db

# OpenRouter API
OPENROUTER_API_KEY=sk-or-v1-...
OPENROUTER_MODEL=anthropic/claude-3-haiku
